anteproyecto-flatten-diff.aux
anteproyecto-flatten-diff.bbl
anteproyecto-flatten-diff.blg
anteproyecto-flatten-diff.log
anteproyecto-flatten-diff.out
anteproyecto-flatten-diff.pdf
anteproyecto-flatten-diff.tex
anteproyecto.aux
anteproyecto.bbl
anteproyecto.blg
anteproyecto.log
anteproyecto.out
pdf_dia_done
pdf_eps_done
pdf_svg_done
*.bak
auto
*.synctex.gz
