*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.cod
*.fls
*.glsdefs
*.ist
*.loa
*.lof
*.log
*.log
*.lot
*.out
*.sbl
*.slg
*.sym
*.synctex.gz
*.tgz
*.toc
*.zip
*_latexmk
*~
auto
pdf_dia_done
pdf_eps_done
pdf_svg_done
