# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
anteproyecto.aux
anteproyecto.bbl
anteproyecto.blg
anteproyecto.log
anteproyecto.out
book-latex.tgz
book-latex.zip
book.acn
book.acr
book.alg
book.aux
book.bbl
book.blg
book.cod
book.ist
book.lof
book.log
book.lor
book.lot
book.out
book.sbl
book.slg
book.sym
book.tgz
book.toc
book.zip
pdf_dia_done
pdf_svg_done
proyecto-std.pdf
proyecto.acn
proyecto.acr
proyecto.alg
proyecto.aux
proyecto.bbl
proyecto.blg
proyecto.brf
proyecto.glo
proyecto.ist
proyecto.lof
proyecto.log
proyecto.lot
proyecto.out
proyecto.sbl
proyecto.slg
proyecto.sym
proyecto.toc
