autorizacionAutorPublicarRepositorio.aux
autorizacionAutorPublicarRepositorio.log
autorizacionTutorPublicarRepositorio.aux
autorizacionTutorPublicarRepositorio.log
autorizacionTutorPublicarRepositorio.out
vistoBuenoTutor.aux
vistoBuenoTutor.log
