.log
autorizacionAutorPublicarRepositorio.aux
autorizacionAutorPublicarRepositorio.log
autorizacionAutorPublicarRepositorio.out
autorizacionPublicarAbiertoTFM-MUSEA.aux
autorizacionPublicarAbiertoTFM-MUSEA.log
autorizacionPublicarAbiertoTFM-MUSEA.out
autorizacionTutorPublicarRepositorio.aux
autorizacionTutorPublicarRepositorio.log
autorizacionTutorPublicarRepositorio.out
texput.log
vistoBuenoTutorTFM-MUSEA.aux
vistoBuenoTutorTFM-MUSEA.log
vistoBuenoTutorTFM-MUSEA.out
vistoBuenoTutorTFM.aux
vistoBuenoTutorTFM.log
vistoBuenoTutorTFM.out
*.bak
auto
