beamer-example.aux
beamer-example.log
beamer-example.out
beamer-example.vrb
beamertemplateMoo.aux
beamertemplateMoo.log
beamertemplateMoo.nav
beamertemplateMoo.out
beamertemplateMoo.snm
beamertemplateMoo.toc
*.bak
