# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
.autolatex_stamp
*.aux
*.bbl
*.log
*.blg
*.acn
*.acr
*.alg
*.aux
*.cod
*.glsdefs
*.ist
*.loa
*.lof
*.out
*.lot
*.sbl
*.sbl
*.slg
*.sym
*.toc
*.brf
pdf_dia_done
pdf_eps_done
pdf_svg_done
*.synctex.gz
*.log
*oldtmp*.tex
PhD-PHDUAH-english.pdf PhD-PHDUAH-spanish.pdf TFG-GIC-english.pdf TFG-GIC-spanish.pdf TFG-GIEAI-english.pdf TFG-GIEAI-spanish.pdf TFG-GIEC-english.pdf TFG-GIEC-spanish.pdf TFG-GII-english.pdf TFG-GII-spanish.pdf TFG-GISI-english.pdf TFG-GISI-spanish.pdf TFG-GIST-english.pdf TFG-GIST-spanish.pdf TFG-GIT-english.pdf TFG-GITI-english.pdf TFG-GITI-spanish.pdf TFG-GIT-spanish.pdf TFG-GITT-english.pdf TFG-GITT-spanish.pdf TFM-MUIE-english.pdf TFM-MUIE-spanish.pdf TFM-MUII-english.pdf TFM-MUII-spanish.pdf TFM-MUIT-english.pdf TFM-MUIT-spanish.pdf
