# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
.autolatex_stamp
.new.book-GII-
anteproyecto.aux
anteproyecto.bbl
anteproyecto.blg
anteproyecto.log
anteproyecto.out
b.pdf
book-flatten-diff.acn
book-flatten-diff.acr
book-flatten-diff.alg
book-flatten-diff.aux
book-flatten-diff.bbl
book-flatten-diff.blg
book-flatten-diff.cod
book-flatten-diff.glsdefs
book-flatten-diff.ist
book-flatten-diff.loa
book-flatten-diff.lof
book-flatten-diff.log
book-flatten-diff.lot
book-flatten-diff.out
book-flatten-diff.pdf
book-flatten-diff.sbl
book-flatten-diff.slg
book-flatten-diff.sym
book-flatten-diff.tex
book-flatten-diff.toc
book-flatten-oldtmp-15613.tex
book-flatten-oldtmp-15685.tex
book-latex.tar.gz
book-latex.tgz
book-latex.zip
book-oldtmp-13278.tex
book-oldtmp-14366.tex
book.acn
book.acr
book.alg
book.aux
book.bbl
book.blg
book.cod
book.glsdefs
book.ist
book.loa
book.lof
book.log
book.lor
book.lot
book.out
book.sbl
book.slg
book.sym
book.tgz
book.toc
book.zip
config.tgz
extras.tgz
l
macias@euler.depeca.uah.es
make.log
p
pdf_dia_done
pdf_eps_done
pdf_svg_done
proyecto-std.pdf
proyecto.acn
proyecto.acr
proyecto.alg
proyecto.aux
proyecto.bbl
proyecto.blg
proyecto.brf
proyecto.glo
proyecto.ist
proyecto.lof
proyecto.log
proyecto.lot
proyecto.out
proyecto.sbl
proyecto.slg
proyecto.sym
proyecto.toc
tex.list
*.bak
*.synctex.gz
