# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
.autolatex_stamp
*.aux
*.bbl
*.log
*.blg
*.acn
*.acr
*.alg
*.aux
*.cod
*.glsdefs
*.ist
*.loa
*.lof
*.out
*.lot
*.sbl
*.sbl
*.slg
*.sym
*.toc
*.brf
pdf_dia_done
pdf_eps_done
pdf_svg_done
*.synctex.gz
*.log
*oldtmp*.tex
